@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --primary   : #fff;
    --secondary : #ccc;
    --background: #fff;
    --border    : #f4ecea;
    --side-bar  : #fff;
}

* {
    font-family: 'Noto Sans', sans-serif !important;
}


.card {
    margin-top: 5vh;
}

.x-grid {
    display: grid;
    justify-content: center;
}

.center-flex {
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.x-flex {
    display        : flex;
    justify-content: center;
}